<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="color1">
    <!-- Side Menu -->
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>

    <!-- Page Title -->
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main Contents -->
<ion-content [fullscreen]="true">
  <!-- List Of Comments -->
  <ion-list>
    <ion-item *ngFor="let item of comments" lines="full" (click)="gotoCommentDetails(item.id)">
      <ion-avatar slot="start">
        <img [src]="item.author_avatar_urls[96]">
      </ion-avatar>

      <ion-label>
        <h2>{{ item.author_name }} <ion-text color="medium"><i>{{ item.date_gmt | date}}</i></ion-text>
        </h2>
        <p [innerHTML]="item.content.rendered"></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Chargement de plus de commentaires...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
